@import url("https://fonts.googleapis.com/css?family=Michroma|Nunito+Sans:300,700|Poppins:300,800&display=swap");

:root {
  --color-white: white;
  --color-grey-ll: #fcfcfc;
  --color-grey: #ccc;
  --color-grey-d: #666;
  --color-black: black;
  --color-green: #29de8a;
  --color-green-l: #78e6be;
  --color-green-d: #186a46;
  --color-twitter: #00acee;
  --color-linkedin: #2867b2;

  --background-color: var(--color-black);
  --text-color: var(--color-white);
  --link-color: var(--color-white);
  --primary-accent-color: var(--color-white);
  --secondary-accent-color: var(--color-grey);
  --tertiary-accent-color: var(--color-grey-ll);
  --button-color: var(--color-green);
  --button-text-color: var(--color-grey-ll);
  --button-hover-color: var(--color-white);
  --button-hover-text-color: var(--color-black);

  --font-family-logo: "Michroma", "Nunito Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  --font-family-title: "Poppins", "Nunito Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  --font-family-body: "Nunito Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;

  --font-size-body: 18px;
  --font-size-under: 13px;
  --line-height-body: 1.5;

  --font-size-h1: 3rem;
  --line-height-h1: 1.2;

  --font-size-h2: 2.6rem;
  --line-height-h2: 1.2;

  --font-size-h3: 2.3rem;
  --line-height-h3: 1.2;

  --font-size-h4: 2rem;
  --line-height-h4: 1.2;

  --font-size-h5: 1.6rem;
  --line-height-h5: 1.2;

  --font-size-h6: 1.3rem;
  --line-height-h6: 1.5;

  --content-width-xl: 1200px;
  --content-width-l: 1000px;
  --content-width-m: 900px;
  --content-width-s: 600px;
  --content-width-xs: 400px;
  --content-width: var(--content-width-xs);

  --readable-width: 600px;

  --space-xl: 1rem;
  --space-l: 1rem;
  --space-m: 1rem;
  --space-s: 1rem;
  --space-xs: 1rem;
  --space: var(--space-xs);

  --edge-space-xl: 2rem;
  --edge-space-l: 2rem;
  --edge-space-m: 1.5rem;
  --edge-space-s: 1.2rem;
  --edge-space-xs: 1rem;
  --edge-space: var(--edge-space-xs);

  --section-space-xl: 6rem;
  --section-space-l: 5rem;
  --section-space-m: 4rem;
  --section-space-s: 3rem;
  --section-space-xs: 2rem;
  --section-space: var(--section-space-xs);

  --hero-top-padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-width: 320px;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  font-weight: 300;
  line-height: var(--line-height-body);
}

img {
  vertical-align: top;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: var(--link-color);
  text-decoration: none;
}

strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-title);
  font-weight: 800;
}

h1,
.title-h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

h2,
.title-h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

h3,
.title-h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

h4,
.title-h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
}

h5,
.title-h5 {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
}

h6,
.title-h6 {
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
}

.title-thin {
  font-weight: 300;
}

  .title-padleft {
font-family: var(--font-family-logo);
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 42%;
  white-space: nowrap;
	font-size: 15px;
}

.title-logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  font-family: var(--font-family-logo);
  font-weight: 400;
  text-transform: uppercase;
}

.title-logoPad {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  font-family: var(--font-family-logo);
  font-weight: 400;
  text-transform: uppercase;
	padding-left: 30%;
}

.title-logo .logo-vector {
  width: auto;
  min-width: 0;
  max-width: none;
  height: 2em;
  min-height: 0;
  max-height: none;
  margin-right: 0.2em;
}

.title-body {
  font-family: var(--font-family-body);
  font-weight: 300;
}

figure {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2rem;
}

figure.with-border {
  border: solid 3px var(--primary-accent-color);
}

.figure.with-border .video-js {
  margin-bottom: 2px;
}

figure a {
  display: block;
}

figure img {
  max-width: 100%;
  height: auto;
}

figure figcaption {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.8em;
  font-style: italic;
  color: var(--tertiary-accent-color);
}

figure figcaption a {
  display: inline;
}

.primary {
  color: var(--primary-accent-color);
}

.secondary {
  color: var(--secondary-accent-color);
}

.tertiary {
  color: var(--tertiary-accent-color);
}

.align-center {
  text-align: center;
}

.button {
  display: inline-block;
  position: relative;
  background: transparent;
  color: var(--button-text-color);
  text-decoration: none;
  -webkit-transform: rotateZ(0);
  -ms-transform: rotate(0);
  transform: rotateZ(0);
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.button:link,
.button:visited {
  color: var(--button-text-color);
  text-decoration: none;
}

.button span {
  display: block;
  padding: var(--space) var(--edge-space);
  opacity: 0.99;
  text-decoration: none;
}

.button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
  background: var(--button-color);
  -webkit-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg);
}

.button::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: transparent;
  -webkit-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg);
  -webkit-transition: width 0.2s, background-color 0.2s;
  -o-transition: width 0.2s, background-color 0.2s;
  transition: width 0.2s, background-color 0.2s;
}

.button:hover,
.button:active {
  color: var(--button-hover-text-color);
}

.button:hover::after,
.button:active::after {
  width: 100%;
  background: var(--button-hover-color);
}

.button-twitter {
  --button-color: var(--color-twitter);
}

.button-linkedin {
  --button-color: var(--color-linkedin);
}

.button-twitter span,
.button-linkedin span {
  padding-left: var(--space);
  padding-right: var(--space);
}

.button.button-s span {
  padding: var(--space-s) var(--edge-space-s);
}

.button-group .button {
  margin-left: 5px;
  margin-bottom: 5px;
}

<h3 class="title-h5 title-thin"><h3 class="title-h5 title-thin"><h3 class="title-h5 title-thin"><h3 class="title-h5 title-thin">.button-group .button:nth-of-type(1) {
  margin-left: 0;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

.icon-twitter,
.icon-linkedin {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: transparent none no-repeat center center;
  background-size: contain;
}

.icon-twitter {
  background-image: url("images/icon-twitter-white.svg");
}

.icon-linkedin {
  background-image: url("images/icon-linkedin-white.svg");
}

.content-width {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

.readable-width {
  max-width: var(--readable-width);
  margin-left: auto;
  margin-right: auto;
}

.readable-width a {
  text-decoration: underline;
}

.readable-width a.button {
  text-decoration: none;
}

.with-padding {
  padding: var(--edge-space);
}

.site-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  font-family: var(--font-family-logo);
  font-size: var(--font-size-body);
  text-transform: uppercase;

}
.site-title2 {
	  font-family: var(--font-family-logo);
	  font-size: var(--font-size-body);
	white-space: nowrap;
	  text-transform: uppercase;
	padding-left: 50%;
	padding-top: 10%;
}
.site-titleLogo {
	  font-family: var(--font-family-logo);
	  font-size: var(--font-size-under);
	  text-transform: uppercase;
}

.site-title a {
  padding: var(--space);
  line-height: 27px;
}

.site-title img {
  display: inline-block;
  width: auto;
  min-width: 0;
  max-width: none;
  height: 1em;
  min-height: 2em;
  max-height: 2em;
  margin-right: 0.5em;
  vertical-align: middle;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow: hidden;
}

.site-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 300px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-nav li {
  display: block;
  width: 300px;
  padding: 0;
  margin: 0 0 5px 0;
}

.site-nav li:nth-of-type(1) {
  padding-left: 75px;
}

.site-nav li:nth-of-type(2) {
  padding-left: 50px;
}

.site-nav li:nth-of-type(3) {
  padding-left: 25px;
}

.site-nav li:last-child {
  visibility: hidden;
}

.site-nav a.button {
  width: 100vw;
}

.site-nav a.button::before {
  background: transparent;
  border-bottom: solid 3px var(--color-white);
}

.site-nav a.button span {
  padding-left: var(--space);
  padding-right: var(--space);
}

.site-nav a.epic-cta {
  margin-left: 5px;
}

.site-main {
  /* padding-top: 5rem; */
}

.site-footer {
  text-align: center;
  font-size: 0.9rem;
  color: var(--tertiary-accent-color);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.row.with-space > .col {
  margin-left: var(--space);
  margin-right: var(--space);
}

.row.with-inner-space > .col {
  padding-left: var(--space);
  padding-right: var(--space);
}

section {
  position: relative;
}

.section-title {
  text-align: center;
}

.section-space {
  margin-bottom: var(--section-space);
}

.hero {
  position: relative;
  overflow: hidden;
}

.hero-video {
  position: relative;
}

.hero-sizer canvas {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  pointer-events: none;
  -ms-touch-action: none;
  touch-action: none;
}

.hero-player,
.hero-text {
  width: 100%;
  height: 100%; 
	border: 1px solid #000000;
    border-top-width: 100px;
    border-bottom-width: 20px;
    border-left-width: 1px;
    border-right-width: 100px;
  position: absolute;
pointer-events: none;
  left: 0;
  top: 0;
}

.hero-player iframe {
  width: 110%;
  height: 110%;
  margin: -5% 0 0 -5%;
  position: absolute;
  left: 0;
  top: 0;
}

.hero-player {
  padding-top: 56.25%;
}

.hero-text {
  background: -o-linear-gradient(
    330deg,
    rgba(0, 0, 0, 0) 0% 50%,
    rgba(0, 0, 0, 0.8) 80%
  );
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0) 0% 50%,
    rgba(0, 0, 0, 0.8) 80%
  );
  text-align: center;
  z-index: 1;
  pointer-events: none;
  -ms-touch-action: none;
  touch-action: none;
}

.hero-text .row {
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-text .col {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 400px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.hero-text h2,
.hero-text h3,
.hero-text ul,
.hero-text a {
  pointer-events: all;
  -ms-touch-action: all;
  touch-action: all;
}

.hero-more {
  display: block;
  width: 100%;
  height: 30px;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: var(--edge-space);
  z-index: 1;
  font-family: var(--font-family-body);
  font-size: 0.8em;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.5;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  -o-transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
}

.hero-more::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 20px;
  background: transparent url("images/icon-chevron-white.svg") no-repeat center
    center;
  background-size: contain;
}

.hero-more:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hero-shortcuts,
.hero-shortcuts > li {
  display: block;
  padding: 0 0 5px 0;
  margin: 0;
  list-style-type: none;
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
  padding-left: 20%;
}

.hero-shortcuts {
  display: none;
  width: 100%;
  pointer-events: all;
  -ms-touch-action: all;
  touch-action: all;
}

.hero-shortcuts > li:nth-of-type(1) {
  padding-left: 50px;
}

.hero-shortcuts > li:nth-of-type(2) {
  padding-left: 25px;
}

.hero-shortcuts > li:nth-of-type(3) {
  padding-left: 0px;
}

.hero-shortcuts > li .button {
  width: 50vw;
  text-align: left;
}

.hero-shortcuts > li .button::before {
  background: transparent;
  border-bottom: solid 3px;
}

.theme-black {
  --text-color: var(--color-white);
  --link-color: var(--color-white);
  --background-color: var(--color-black);
  --primary-accent-color: var(--color-white);
  --secondary-accent-color: var(--color-grey);
  --tertiary-accent-color: var(--color-grey-d);
  --button-color: var(--color-green);
  --button-text-color: var(--color-black);
  --button-hover-color: var(--color-white);
  --button-hover-text-color: var(--color-black);

  background: var(--background-color);
  color: var(--text-color);
}

.theme-white {
  --text-color: var(--color-black);
  --link-color: var(--color-green-d);
  --background-color: var(--color-white);
  --primary-accent-color: var(--color-green);
  --secondary-accent-color: var(--color-grey-d);
  --tertiary-accent-color: var(--color-grey);
  --button-color: var(--color-green);
  --button-text-color: var(--color-black);
  --button-hover-color: var(--color-black);
  --button-hover-text-color: var(--color-white);

  background: var(--background-color);
  color: var(--text-color);
}

.theme-green {
  --text-color: var(--color-black);
  --link-color: var(--color-black);
  --background-color: var(--color-green);
  --primary-accent-color: var(--color-white);
  --secondary-accent-color: var(--color-green-l);
  --tertiary-accent-color: var(--color-green-d);
  --button-color: var(--color-black);
  --button-text-color: var(--color-white);
  --button-hover-color: var(--color-white);
  --button-hover-text-color: var(--color-black);

  background: var(--background-color);
  color: var(--text-color);
}

section.theme-black,
section.theme-white,
section.theme-green {
  border: solid 1px transparent;
  margin-bottom: 0;
}

.fancybox-video {
  position: relative;
}

.fancybox-video::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background: transparent url("images/icon-play-white.svg") no-repeat center
    center;
  background-size: contain;
  opacity: 0.5;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  -o-transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
}

.fancybox-video:hover::after {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
}

#vector-gallery .swiper-container {
  padding-bottom: var(--section-space);
}

#vector-gallery .swiper-container .swiper-slide {
  padding-left: var(--edge-space);
  padding-right: var(--edge-space);
  opacity: 0.5;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#vector-gallery .swiper-container .swiper-slide figure {
  max-width: var(--content-width);
  margin: 0 auto;
  background-color: var(--color-green);
  border: solid 3px var(--primary-accent-color);
}

#vector-gallery .swiper-container .swiper-slide.swiper-slide-active,
#vector-gallery .swiper-container .swiper-slide.swiper-slide-duplicate-active {
  opacity: 1;
}

#vector-gallery .swiper-container .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: var(--tertiary-accent-color);
  opacity: 1;
}

#vector-gallery
  .swiper-container
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--primary-accent-color);
}

.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 12px;
}

/** Tablet Landscape and up */
@media screen and (min-width: 800px) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .row.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .site-header {
    width: 100%;
    height: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99990;
    background: background-color #000000;
    pointer-events: none;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-transition: background-color 0.2s, height 0.2s;
    -o-transition: background-color 0.2s, height 0.2s;
    transition: background-color 0.2s, height 0.2s;
  }

  .past-scroll-top .site-header {
    background-color: var(--color-black);
    height: 100px;
  }

  .site-title,
  .site-nav {
    pointer-events: auto;
    -ms-touch-action: auto;
    touch-action: auto;
  }

  .site-title {
    position: absolute;
    left: var(--edge-space);
    top: var(--edge-space);
  }

  .site-nav {
    position: absolute;
    right: var(--edge-space);
    top: var(--edge-space);
    overflow: visible;
  }

  .site-nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
  }

  .site-nav li {
    width: auto;
    margin: 0 0 0 5px;
  }

  .site-nav li:nth-of-type(1),
  .site-nav li:nth-of-type(2),
  .site-nav li:nth-of-type(3),
  .site-nav li:nth-of-type(4) {
    padding: 0;
  }

  .site-nav li:last-child {
    visibility: visible;
  }

  .site-nav a.button {
    width: auto;
  }

  .site-nav a.button::before {
    border: none;
  }

  .hero {
    min-height: 600px;
  }

  .hero-video {
    margin-right: 30%;
  }

  .hero-text {
    background: -o-radial-gradient(
      25% 50%,
      circle,
      transparent 0% 50%,
      black 50%
    );
    background: radial-gradient(
      circle at 25% 50%,
      transparent 0% 50%,
      black 50%
    );
  }

  .hero-text .row {
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 60px;
  }

  .hero-text h1:not(.title-logo),
  .hero-text h2:not(.title-logo),
  .hero-text h3:not(.title-logo) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .hero-shortcuts {
    display: block;
  }
}

/** Medium Desktop and up */
@media screen and (min-width: 1200px) {
  :root {
    --edge-space: var(--edge-space-xl);
    --section-space: var(--section-space-xl);
    --content-width: var(--content-width-xl);
    --hero-top-padding: 5rem;
  }

  .col.full {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }

  .col.two-thirds {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.7%;
  }

  .col.half {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }

  .col.third {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.3%;
  }

  #hero .hero-text .col:nth-of-type(2) {
    padding-top: 80px;
  }
}

/** Medium Desktop only */
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  :root {
    --edge-space: var(--edge-space-l);
    --section-space: var(--section-space-l);
    --content-width: var(--content-width-l);
  }
}

/** Tablet Landscape and Small Desktop only */
@media screen and (min-width: 800px) and (max-width: 1199px) {
  :root {
    --edge-space: var(--edge-space-m);
    --section-space: var(--section-space-m);
    --content-width: var(--content-width-m);
  }

  .col.half {
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .col.two-thirds,
  .col.third {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .hero-more {
    visibility: hidden;
  }
}

/** Phone Landscape and Tablet Portrait only */
@media screen and (min-width: 600px) and (max-width: 799px) {
  :root {
    --edge-space: var(--edge-space-s);
    --section-space: var(--section-space-s);
    --content-width: var(--content-width-s);
  }

  .col,
  .col.full,
  .col.half,
  .col.col.two-thirds,
  .col.third {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}

/** Phone Portrait to Tablet Portrait only */
@media screen and (max-width: 799px) {
  .site-title {
    position: absolute;
    left: 0;
    top: 0;
  }

  .hero-text .col {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 !important;
    flex: 0 !important;
  }
}

/** Phone Portrait */
@media screen and (max-width: 499px) {
  .site-nav {
    margin-top: 60px;
  }

  .hero {
    display: none;
  }

  .hero-more {
    visibility: hidden;
  }
}

.title-logoTextStack {
	display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  font-family: var(--font-family-logo);
  font-weight: 400;
  text-transform: uppercase;
}

.title-padleftVp {
  font-family: var(--font-family-logo);
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 53%;
  white-space: nowrap;
  font-size: 19px;
	
}
